.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.App-body {
  padding: 20px;
  text-align: center;
}

.App-footer {
  padding: 10px;
  text-align: center;
  font-size: 12px;
  border-top: 1px solid #eaeaea;
}
