.App-logo {
  width: 10vw;
}

.App-header {
  background-color: #282c34;
  padding: .1rem;
  margin: 0 1rem;
  gap: 1.2rem;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 3px solid #de283f;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #de283f;
}

.App-body {
  display: flex;
  flex-direction: column;
  margin: 1.2rem 00 2.5rem;
  justify-content: center;
  padding: 20px;
  text-align: center;

}

.App-footer {
  position: absolute;
  bottom: 0;
  font-style: italic;
  min-height: 50px;
  width: 96vw;
  margin: 0 1rem;
  padding: 10px;
  text-align: center;
  border-top: 3px solid #de283f;
}
